@import "../../style.scss";

.update {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow-y: auto;

    .wrapper {
      margin: auto;
      width: 40%;
      height: 80%;
      background-color: themed("bg");
      padding: 50px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      gap: 20px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      position: relative;
      border-radius: 10px;

      @include tablet {
        width: 60%;
        height: auto;
      }
      
      @include mobile {
        width: 100%;
        height: auto;
      }

      h1 {
        color: themed("textColor");
        text-align: center;
      
        @include mobile {
         font-size: 20px;
        }
      
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .files {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
        }

        label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: themed("textColor");
          font-size: 14px;
          font-weight: bold;

          .imgContainer {
            position: relative;
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }

            .icon1 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 50px;
              margin: auto;
              font-size: 30px;
              color: lightgray;
              cursor: pointer;
            }

            .icon2 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 30px;
              margin: auto;
              font-size: 30px;
              color: lightgray;
              cursor: pointer;
            }
          }
        }

        input {
          padding: 5px;
          border: none;
          border-bottom: 1px solid themed("border");
          color: themed("textColorSoft");
          background-color: transparent;
          border: 1px solid themed("commentBorder");
          border-radius: 10px;
        }

        button {
          border: none;
          padding: 10px;
          cursor: pointer;
          color: white;
          background-color: #2a403a;
          border-radius: 5px;
          width: 40%;
          margin: auto;
        }
      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background-color: #f0544f;
        padding: 5px;
        cursor: pointer;
        color: white;
        border-radius: 5px;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
        }

        .icon {
            width: 30px;
            height: 30px;
            color: themed("iconColor");
        }

        label {
            font-size: 14px;
        }

        span {
          font-size: 14px;
      }
    }
    }
  }
}