@import "../../style.scss";

.store {
    @include themify($themes) {
        background-color: themed("bgSoft");
        min-height: 100vh;

        .storeContainer {
            padding: 20px 70px;

            @include mobile {
                padding: 10px;
            }

            @include tablet {
                padding: 20px;
            }

            .storeInfo {
                position: relative;
                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                .storeLogo {
                    width: 300px;
                    margin-bottom: 10px;

                    @include tablet {
                        width: 250px;
                    }

                    @include mobile {
                        width: 200px;
                    }
                }

                .storeLeft {
                    display: flex;
                    gap: 30px;
                    justify-content: center;
                    margin-bottom: 20px;
                    font-weight: bold;

                    @include tablet {
                        flex-wrap: wrap;
                        gap: 15px;

                        a {
                            font-size: 14px;
                        }
                    }

                    @include mobile {
                        flex-wrap: wrap;
                        gap: 15px;
                        font-size: 13px;

                        a {
                            font-size: 13px;
                        }
                    }

                    a {
                        color: themed("textColorSoft");
                        text-decoration: none;
                        font-weight: bold;

                        .icon {
                            width: 30px;
                            height: 30px;
                            color: themed("iconColor");
                        }
                    }
                }

                .shoppingBagIcon {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: themed("iconColor");
                    font-size: 30px;

                    @include tablet {
                        top: 15px;
                        right: 15px;
                    }

                    @include mobile {
                        top: 10px;
                        right: 10px;
                    }
                }

                .numeroArticulosContainer {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: red;
                    position: absolute;
                    top: 30px;
                    margin-left: 405px;
                    border: 1px solid themed("commentBorder");
                    font-weight: bold;
                    color: themed("navTextColor");
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    }


                    @include tablet {
                        width: 18px;
                        height: 18px;
                        top: 30px;
                        right: 25px;
                    }

                    @include mobile {
                        width: 15px;
                        height: 15px;
                        top: 15px;
                        right: 8px;
                    }

                    .numeroArticulos {
                        font-size: 14px;
                        margin-top: -1px;

                        @include mobile {
                            font-size: 12px;
                        }
                    }
                }

                #carrito {
                    position: absolute;
                    top: 60px;
                    right: 15px;
                    background-color: themed("bg");
                    border-radius: 10px;
                    padding: 20px;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                    width: 470px;
                    overflow: auto;
                    z-index: 998;

                    @include tablet {
                        width: 400px;
                    }

                    @include mobile {
                        width: 310px;
                    }

                    .h3-compra {
                        font-size: 20px;
                        color: themed("textColor");
                        margin-bottom: 20px;
                        text-align: left;

                        @include mobile {
                            font-size: 18px;
                        }
                    }

                    .h3-vacio {
                        font-size: 20px;
                        color: themed("textColor");
                        text-align: left;

                        @include mobile {
                            font-size: 18px;
                        }
                    }

                    table {
                        width: 100%;

                        th,
                        td {
                            padding: 10px;
                            text-align: left;
                            font-size: 14px;
                            text-align: center;
                            color: themed("textColor");

                            @include tablet {
                                font-size: 12px;
                            }

                            @include mobile {
                                font-size: 10px;
                            }

                            hr {
                                height: 0.5px;
                                width: 100%;
                                border: none;
                                height: 0.5px;
                                background-color: themed("commentBorder");
                            }
                        }

                        th {
                            background-color: #2a403a;
                            text-align: center;
                            border-radius: 5px;
                            width: 100px;
                            color: themed("navTextColor");
                        }
                    }

                    #vaciar-carrito {
                        display: block;
                        margin-top: 20px;
                        background-color: #f0544f;
                        color: themed("navTextColor");
                        padding: 10px 20px;
                        border-radius: 5px;
                        text-align: center;
                        text-decoration: none;
                        transition: background-color 0.3s;

                        @include tablet {
                            font-size: 12px;
                        }

                        @include mobile {
                            font-size: 10px;
                        }
                    }

                    #comprar-productos {
                        display: block;
                        margin-top: 20px;
                        background-color: #2a403a;
                        color: themed("navTextColor");
                        padding: 10px 20px;
                        border-radius: 5px;
                        text-align: center;
                        text-decoration: none;
                        transition: background-color 0.3s;

                        @include tablet {
                            font-size: 12px;
                        }

                        @include mobile {
                            font-size: 10px;
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .iconBorrar {
                        color: themed("textColor");
                    }
                }
            }

            .storeInfo2 {
                position: relative;
                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 30px;


                h2 {
                    font-size: 30px;
                    color: themed("textColor");
                    margin-bottom: 25px;
                    text-align: center;
                    margin-top: -25px;

                    @include mobile {
                        font-size: 25px;
                    }
                }

                hr {
                    width: 60%;
                    margin: auto;
                }

                .promos {
                    padding: 50px 0;
                    text-align: center;

                    hr {
                        width: 50%;
                        margin: auto;
                        margin-bottom: 40px;
                    }

                }

                .categories {
                    text-align: left;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    @include tablet {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    @include mobile {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

                .categorie {
                    display: flex;
                    align-items: center;
                    padding: 35px;
                    margin-left: 60px;

                    @include tablet {
                        margin-left: 100px;
                    }

                    @include mobile {
                        margin-left: 40px;
                    }
                }

                .categorie img {
                    width: 150px;
                    height: 150px;
                }

                .categorie-1 {
                    width: 50%;

                    h3 {
                        color: themed("textColor");
                        font-size: 16px;
                        font-weight: 600;
                    }

                    p {
                        color: #747B8F;
                        font-size: 16px;
                    }
                }

                .categorie-img {
                    width: 50%;
                }

                .prices {
                    display: flex;
                    margin: 20px 0;
                }

                .price-1 {
                    color: #747B8F;
                    text-decoration-line: line-through;
                    margin-right: 25px;
                }

                .btn-3 {
                    display: inline-block;
                    padding: 10px 25px;
                    font-size: 14px;
                    border: none;
                    background-color: #2a403a;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                }

                hr {
                    height: 0.5px;
                    width: 80%;
                    border: none;
                    height: 0.5px;
                    background-color: themed("commentBorder");
                }

            }
        }
    }
}