$themes: ( // Tema de la aplicación
  light: (
    textColor: #000,
    iconColor: #2a403a,
    bg: #e8e7da,
    bgSoft: #d2d1c5,
    textColorSoft: #555,
    border: #e8e7da,
    commentBorder: #c9c9bf,
    bgNav: #2a403a,
    navTextColor: #e8e7da,
  ),
  dark: (
    textColor: #e8e7da,
    iconColor: white,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    bgNav: #222,
    navTextColor: #e8e7da,
    commentBorder: #c9c9bf,
  ),
);

@mixin themify($themes) { // Función para cambiar el tema de la aplicación
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}