@import "../../style.scss";

.navBar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid themed("commentBorder");
        position: sticky;
        top: 0;
        background-color: themed("bgNav");
        color:themed("navTextColor");
        z-index: 999;

        .left {
            display: flex;
            align-items: center;
            gap: 28px;

            .homesito {
              @include mobile {
                display: none;
              }
            }

            .cuadritos {
              @include mobile {
                display: none;
              }
            }

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    width: 300px;
                    background-color: transparent;
                    color: themed("navTextColor");
                  
                    &::placeholder {
                      color: themed("navPlaceholderColor");
                    }
                  
                    &:focus {
                      outline: none;
                    }
                  
                    @include mobile {
                      display: none;
                    }
                  
                    @include tablet {
                      width: 180px;
                    }
                  }
            }

            .perfilsito {
              display: none;

              @include mobile {
                display: block;
              }
            }

            .logout {
              display: none;
              
              @include mobile {
                display: block;
              }
            }
        }
        
        .right {
            display: flex;
            align-items: center;
            gap: 28px;
            justify-content: flex-end;

            @include mobile{
                display: none;
            }

            .logout {
                display: flex;
                align-items: center;
                gap: 10px;

                @include tablet {
                  margin-left: -30px;

                  span {
                    display: none;
                  }
                }
                
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;

                @include tablet{
                    display: none;
                  }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }        
}